<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>

<!--    временный файл, главным сделаем какой-то другой -->

    <script>
        function logIn() {
            window.location.href = "http://localhost:8080/logInWindow";
        }

         function Lending() {
            window.location.href = "http://localhost:8080/index";
        }
    </script>


</head>
<body>
<button onclick="logIn()">Register</button>
<button onclick="Lending()">Lending</button>
</body>
</html>