<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <link href="registration.css" rel="stylesheet"/>
</head>
<body>
    <header class="header">
        <div class="headerLogoSection">
            <img class="headerLogo" src="images/logo.jpg" alt="Logo">
        </div>

        <div class="headerButtons">
            <div>
                <button class="headerButton">Home</button>
            </div>

            <div>
                <button class="headerButton">About us</button>
            </div>

            <div>
                <button class="headerButton">Contacts</button>
            </div>
        </div>
    </header>

    <main>
        <div>
            <h1 class="textRegistrationPage">Registration page</h1>
        </div>

        <div class="registrationSection">
            <div class="mainLogoSection">
                <img class="mainLogo" src="images/logo.jpg" alt="Logo">
            </div>

            <div class="registrationButtons">
                <div>
                    <label><input class="registrationInput" type="text" placeholder="name"></label>
                </div>

                <div>
                    <label><input class="registrationInput" type="text" placeholder="surname"></label>
                </div>

                <div>
                    <label><input class="registrationInput" type="text" placeholder="email"></label>
                </div>

                <div>
                    <label><input class="registrationInput" type="text" placeholder="country"></label>
                </div>

                <div>
                    <label><input class="registrationInput" type="text" placeholder="+380-XX-XXX-XX-XX"></label>
                </div>

                <div>
                    <button class="registrationButton">Submit</button>
                </div>
            </div>

        </div>
    </main>

    <footer>

    </footer>
</body>
</html>